@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

*{
    box-sizing: border-box;

    margin: 0;
    padding: 0;


    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;

    cursor: pointer;
}
/* FLEX HELPERS */
.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button{
    border: none;
}

/* HEADER*/
header{
    position: sticky;
    top: 0px;
    background-color: white;
    min-height: 88px;
    max-height: 88px;
    padding: 20px 40px;
}

/* Navegador */
.header__content-left{
    gap:40px;
}

.header__content-right{
    gap:32px;
}

.img-logo{
    width: 150px;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 32px;
}

.nav__item-header{
    color: black;
}

.nav__item-header:hover{
    color: #6d7081;
}

.bi-chevron-down{
    font-size: 14px;
    -webkit-text-stroke: 1px;
}

.button-lang{
    background-color: white;
    border: none;
    max-height: 24px;
    font-weight: 700;
    gap: 4px;
}

.img-flag{
    width: 32px;
}
.button-my-account{
    color: black;
    font-weight: 700;
    border: 1px solid black;
    border-radius: 8px;
    padding: 11px 15px;
    text-wrap: nowrap;
}

.button-my-account:hover{
        border-color: #d8dae0;;
}

.burger-icon{
    display: none;
}

.bi-list{
    background-color: white;
    font-size: 24px;
    -webkit-text-stroke: 0.5px;
}

@media screen and (max-width: 1133px) {
    header{
        max-height: 62px;
        min-height: 62px;
        padding: 0px 20px 0px 20px;
    }

    nav{
        display: none;
    }

    .header__content-right{
        display: none;
    }

    .burger-icon{
        display: flex;
    }

    .img-1{
        display: flex;
        max-width: 147px;
        padding: 0px;
    }
}


/* BODY */

main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    gap: 0px;
}

/* SERVICES SECTION */
h1{
    display:none;
}

h2{
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.25px;
}

h3{
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
}

.services{
    background-color: #1f1346;
    color: white;
    padding: 80px 0px 80px;
}

.services__header{
    max-width: 1208px;
    margin: 0 auto;
    padding: 0 40px;
    gap: 32px;
    align-items: center;
    margin-bottom: 48px;
}


.h3-style-1{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.h3-style-2{
    font-size: 18px;
    line-height: 24px;
}

.services__container{
    max-width: 1208px;
    margin: 0 auto;
    padding: 0 40px;
    gap: 24px;
    align-items: stretch;
}

.services__card{
    background-color: #2f1c6a;
    border-radius: 16px;
    text-align: left;
    padding: 32px;
    gap: 16px;
    flex: 1;
    justify-content: flex-start;
}

.violet-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #673de6;
    height: 40px;
    width: 40px;
    border-radius: 6px;
    font-size: 21px;
}

@media screen and (max-width:1207px){
    .services__container{
        box-sizing: 0 auto;
    }

    .services__header{
        box-sizing: 0 auto;
    }
}

@media screen and (max-width:1024px){
    .services{
        padding: 64px 0 64px;
    }

    .services__header{
        max-width: 768px;
        gap: 24px;
        margin-bottom: 40px;
    }

    .services__container{
        flex-direction: column;
        max-width: 768px;
        gap: 24px;
    }

    h2{
        font-size: 28px;
    }
    .text-body-2{
        font-size: 16px;
    }
}

@media screen and (max-width:767px){
    .services{
        padding: 56px 0 56px;
    }

    .services__header{
        max-width: 540px;
        padding: 0px 16px;
        gap: 16px;
        margin-bottom: 32px;
    }

    .services__container{
        max-width: 540px;
        padding: 0px 16px;
        gap: 16px;
    }

    h2{
        font-size: 24px;
        line-height: 32px;
    }
    .text-body-2{
        font-size: 16px;
    }
}

/*REVIEWS SECTION*/

.reviews{
    padding: 80px 0px 80px;
}

.reviews__container{
    max-width: 1208px;
    margin: 0 auto;
    padding: 0 40px;
    gap: 50px;
}

.h2-style-2{
    letter-spacing: 1px;
    text-align: justify;
    text-align-last: center;
}

.reviews__dots{
    padding: 32px 0px;
}

.reviews__dots-indicators{
    display: none;
    justify-content: center;
    gap: 16px;
    color: #8c85ff;
    margin-bottom: 32px;

}

.bi-circle-fill{
        font-size: 12px;
}

.bi-circle{
        font-size: 12px;
}

.reviews__body{
    text-align: left;
    gap: 24px;
    justify-content: flex-start;
    align-items: stretch;
}

.reviews__card{
    flex: 1;
    padding: 32px;
    background-color: #f4f5ff;
    border: 1px solid #d5dfff;
    border-radius: 16px;
    gap: 16px;
    justify-content: flex-start;
}

.reviews__card-person{
    justify-content: flex-start;
    gap: 11px;
}

.reviews__card-person__left{
    height: 48px;
}

.reviews__card-icon{
    justify-content: flex-start;
    gap: 7px;
    color: #00b090;
}

.bi-star-fill{
        font-size: 16.5px;
}

.bold{
    font-weight: 700;
}

.reviews__card-body{
    justify-content: space-between;
    height: 100%;
}

.text-body-4{
    color: #888faa;
    font-size: 14px;
}

.reviews__card-body__link{
    justify-content: flex-start;
    gap: 6px;
    padding-top: 16px;
}

.link-complete-story{
    color: #5025d1;
    font-weight: 700;

}

.bi-chevron-right{
    display: flex;
    align-items: flex-end;
    color: #5025d1;
    -webkit-text-stroke: 0.5px;
    font-size: 10px;
}

.reviews__footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 32px 40px 0 40px;
}

.reviews__footer-button{
    font-weight: 700;
    color: #673de6;
    padding: 11px 47px;
    border: 1px solid #673de6;
    border-radius: 8px;
    transition: background-color 0.1s ease-in-out;
}

.reviews__footer-button:hover{
    background-color: #e2dbfc;
}

@media screen and (max-width:1207px){
    .reviews__container{
        box-sizing: 0 auto;
    }
}

@media screen and (max-width:1024px){
    .reviews{
        padding: 64px 0 64px;
    }
    .reviews__container{
        max-width: 768px;
        gap: 24px;
    }
    .reviews__body{
        flex-direction: column;
    }
    .reviews__card{
        display: none;
    }

    .reviews__card:first-child {
        display: flex;
    }

    .reviews__dots-indicators{
        display: flex;
        padding-top: 40px;
    }

    .h2-style-2{
        font-size: 28px;
        text-align: center;
        letter-spacing: 0.5px;
    }
}

@media screen and (max-width:767px){
    .reviews{
        padding: 56px 0 56px;
    }

    .reviews__container{
        max-width: 540px;
        padding: 0px 16px;
        gap: 16px;
    }

    .h2-style-2{
        font-size: 24px;
        line-height: 32px;
    }
}

@media screen and (max-width:576px){
    .reviews__footer{
        width: 100%;
        padding: 0%;
    }
    .reviews__footer-button{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-wrap: nowrap;
    }
}

/*FOOTER*/

footer{
    background-color: #f5f5ff;
    color: #1d1e20;
    font-size: 14px;
    padding-top: 56px;
}

.footer__container{
    max-width: 1208px;
    margin: 0 auto;
    padding: 0 40px;
    align-items: flex-start;
}

.footer-section{
    gap: 8px;
    align-items: flex-start;
    margin-bottom: 40px;
}

.footer-section__column{
    gap: 8px;
}

.footer-section__title{
    line-height: 24px;
}

.h3-style-3{
    font-size: 16px;
}

.footer-section__logo{
    gap:16px;
}

.footer-section__link{
    color:#1d1e20;
    font-size: 14px;
    transition: all .3s ease-in-out;
}

.footer-section__link:hover{
    color: #5025d1;
}

.bi-chevron-down-footer{
    display: none;
}

.social-icons{
    gap: 16px;
}

.si{
    font-size: 25px;
    color: black;
}

.footer-section__logo{
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-section__logo-upper-section{
    width: 100%;
    justify-content: space-between;
}

.footer-section__logo-lower-section{
    width: 100%;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 24px;   
}

.payment-icons{
    flex-wrap: wrap;
    gap:8px;
    justify-content: flex-start;
}

.card-img{
    width: 60px;
    border-radius: 4px;
    border: 1px solid #d5dfff
}

.more-payments{
    font-size: 14px;
    font-weight: 700;
    color: #673de6;
}

.legal-links{
    gap: 16px;
    white-space: nowrap;
}

.text-legal-links{
    color: #1d1e20;
    font-size: 14px;
    transition: all .3s ease-in-out;

}

.text-legal-links:hover{
    color: #5025d1;
}

.footer-section__copyright{
    padding: 24px 0;
    gap: 128px;
    border-top: 1px solid #d5dfff;
}

.font-copyright{
        font-size: 14px;
}

@media screen and (max-width:1024px){
    footer{
        padding-top: 48px;
    }

    .footer__container{
        max-width: 768px;
    }

    .footer-section__column{
        margin-bottom: 24px;
    }

    .footer-section{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 44px;
        margin-bottom: 8px;
    }

    .footer-section__logo{
        max-width: 768px;
        margin-top: 24px;
    }

    .footer-section__logo-upper-section{
        margin-top: 8px;
        gap: 16px;
    }
    .footer-section__logo-lower-section{
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0;
    }
    .payment-icons{
        order: 2;
        margin-bottom: 40px;
    }
    .footer-section__copyright{
        max-width: 768px;
        flex-direction: column;
        gap: 8px;
        align-items: flex-start;
    }
}

@media screen and (max-width:767px){
    .footer__container{
        max-width: 540px;
        padding: 0px 16px;
    }

    .footer-section{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap:16px;
    }
    .footer-section__column{
        width: 100%;
    }

    .footer-section__title{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .bi-chevron-down{
    display: flex;
    }

    .footer-section__link{
        display: none;
    }

    .legal-links{
        max-width: 328px;
        flex-wrap: wrap;
        gap: 8px;
        margin-bottom: 8px;
    }

    .footer-section__logo-upper-section{
        flex-direction: column-reverse;
        align-items: flex-start; 
    }

    .social-icons{
        display: flex;
        justify-content: space-between;
        width: 100%;
        order: 1;
        padding: 16px 0px;
        margin-bottom: 8px;
    }

    .payment-icons{
        max-width: 300px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 8px;
        margin-bottom: 24px;
    }
}